.book-card {
    width: 100%;
    margin: 1em;
}

.card-title,
.card-subtitle {
    display: inline-block;
    padding-right: 1em;
}

.one-line {

    h2,
    div.count {
        display: inline-block;
    }

    .count {
        font-size: 2em;
    }
}