<h2>Add a new book</h2>
<form [formGroup]="addBookForm" >
    <div class="form-group">
        <label for="title">
            Title:
            <input name="title" class="form-control" type="text" formControlName="title">
            <p *ngIf="addBookForm.controls.title.touched && addBookForm.controls.title.invalid">Please fill title</p>
        </label>
    </div>
    <div class="form-group">
        <label for="category">
            Category:
            <p-dropdown name="category" [options]="bookOptions" formControlName="category" (onChange)="selectCategory($event.value)">
            </p-dropdown>
            <p *ngIf="addBookForm.controls.category.touched && addBookForm.controls.category.invalid">Please fill category</p>
        </label>
    </div>
    <div class="form-group">
        <label for="description">
            Description:
            <textarea class="form-control" rows="3" name="description" formControlName="description" ></textarea>
            <p *ngIf="addBookForm.controls.description.touched && addBookForm.controls.description.invalid">Please fill description</p>
        </label>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="addNewBook()">Add</button>
    </div>
</form>